section.lead {
    text-align: center;
}

section.top {
    justify-content: flex-start !important;
}

section.normal {
    text-align: left;
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}